/* vim: fdm=marker:et:sw=4:
* */

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
/*    overflow: hidden;*/
}

/* Container div */
#a {
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
}

/* Canvas */
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    min-height: 100vh; width: auto !important;*/
    /* Pixelate instead of blurring
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    font-smooth: never;
    -webkit-font-smoothing: none;
    */
}

/* Note for portrait devices
#d {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font: 100 32px sans-serif;
    text-align: center;
}
*/

/* Debug panel
#debug {
    position: absolute;
    border: 10px solid #ccc;
    top: 0;
    right: 0;
    background-color: #ccc;
    cursor: pointer;
}
*/

footer{position: fixed; left: 10px; bottom: 5px;}
footer>p{float: left;}
footer>details{float: left; margin-left: 10px;}
footer>details[open] summary:after{content:""; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 0;}
footer *{margin: 0; padding: 0; font-size: 7px; color: #666;}
footer *:selection{color: #666; background-color: transparent;}

footer ul{position: absolute; bottom: 20px; left: 0; z-index: 1;}
